name: Release Docker

on:
  release:
    types: created
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      
    - name: Docker login
      uses: docker/login-action@v1
      with:
        username: egrocsi5112
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Docker build and push
      uses: docker/build-push-action@v2
      with:
        context: ${{ runner.workspace }}/backend
        file: ${{ runner.workspace }}/backend/Dockerfile
        tags: akshatarrao/csi5112-project:latest
        push: true
    
